/*the best way to style our css is to put this 
!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>EL MAHDI BENRAMI</title>
</head>
<body>
    <header>
       bla bla bla bla bla bla
    </header>
    <section>
       bla bla bla bla 
    </section>
    <footer>
       bla bla
    </footer>
</body>    
</html>
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;            /*we use this to reset css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background: #ff1a1a;
    width: 100%;
    position: fixed;/*to make the header not moving when we do scrole*/
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px ;
}

.logo {
    text-decoration: none;
    color: #ffffff;
    text-transform:uppercase;/*to make all the letter capital*/
    font-weight: 700;
    font-size: 1.8em;
}


.navigation a{
    color: rgba(255, 255, 255, 0.952); /*to change the 
    color of the writing in the navigation a*/
    text-decoration: none; /*to delete the line under the (a) element*/
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.navigation a:hover{
    background: #fff;/*The CSS background properties are used to add background effects for elements.*/
    color: #2b1055;
}


section {
    padding: 100px 200px;
}


.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main video{          
    display: block;
    position: absolute;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
}



.main h2{
    color: rgb(236, 238, 236);
    font-size: 1.5em;
    font-weight: 600;
}

.main h2 span{
    display: inline-block;
    margin-top: 4px;
    color: #0099e6;
    font-size: 2.5em;
    font-weight: 600;
}

.main h6{
    color: #00ffff;
    font-size:1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color:#f0f0f0;
    background-color:#3a6cf4;
    text-decoration: none;
    font-size:1.1em;
    font-weight:600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 1s ease;
}

.main-btn:hover{
    background-color:#0033cc;
    transform: scale(1.1)
}

.social-icons a{
    color: #fff;
    font-size: 2em;
    padding-right:30px;
}

.social-icons a:hover{
    transition: 0.7s ease;
    color: blue;
}

.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;    
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}

.card:hover{
    transform: scale(1.1);
    transition:0.7s ease;
}

.card:hover{
    transform: scale(1.1)
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color:#0033cc;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    text-transform: uppercase;
}


.projects{
    background: linear-gradient(#7597de,#183e91);
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px; 
    transition: 0.7s ease;
}
   
.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity:0.9;
}

.project-image img{
    width: 100%;
}

.project-image{
    background-size: cover; /*to make all the pic shows without any cut */
    background-position: center;/*to make the pic in center */
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color:#000;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;
    color:#3a6cf4;
}

.more-details:hover{
    color:#0050fc;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3{
    color: #000;
}

.contact .info a{
    text-decoration: none;
    color: #000;
}

.contact .info a{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.cards{
    background: url(images/cards_background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}


.contact .contact_cards:hover{
    transform: scale(1.1);
    transition:0.7s ease;
}

.contact_cards{
    background-color: #fff;
    width: 24.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}

.contact_cards:hover{
    transform: scale(1.1)
}

.contact_cards{
    background: url(images/background.card.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.contact_cards i{
    color: #000;
}

.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display:flex ;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

.typing-demo {
    width: 23ch;
    animation: typing 2s steps(30), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: monospace;
    font-size: 2em;
  }



  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

@media (max-width:1023px){
    
    header{
        padding: 12px 20px;
    }
    
    .navigation a{
        padding-left: 10px;
    }
    
    .title{
        font-size: 1.8em;  
    }
   
    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}